name: Test atb files

on:
  push:
    branches: [main]
  pull_request:
env:
  BUILD_TYPE: Release

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Pull submodules
        run: git submodule update --init --recursive
      - name: Configure CMake
        run: cmake -B ${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
      - name: Build
        run: cmake --build ${{ github.workspace }}/build --config ${{ env.BUILD_TYPE }}
      - name: Download atb files
        run: |
          curl -L -o atb_files.tar.xz https://github.com/EltyDev/atb-tools/releases/download/ci-test/atb_files.tar.xz
          tar -xJf atb_files.tar.xz
      - name: Run tests for all files
        run: |
          chmod +x ./build/bin/atb-tools
          files=($(ls *.atb))

          total=${#files[@]}
          successes=0
          failed_files=()
          mkdir -p test_outputs
          log_file="log.txt"
          echo "ATB test log" > "$log_file"
          echo "=================" >> "$log_file"

          for matrix_file in "${files[@]}"; do
            echo "::group::Testing $matrix_file"
            echo "Testing $matrix_file" >> "$log_file"

            OUTPUT_FILE="${matrix_file%.atb}_test.atb"

            ./build/bin/atb-tools test "$matrix_file"
            ret=$?

            if [ $ret -ne 0 ]; then
              echo "❌ Program failed for $matrix_file"
              echo "❌ Program failed" >> "$log_file"
              failed_files+=("$matrix_file")
            elif [ ! -f "$OUTPUT_FILE" ]; then
              echo "❌ Output file missing for $matrix_file"
              echo "❌ Output file missing" >> "$log_file"
              failed_files+=("$matrix_file")
            elif ! diff "$matrix_file" "$OUTPUT_FILE" > /dev/null; then
              echo "❌ Differences found for $matrix_file"
              echo "❌ Differences found" >> "$log_file"
              failed_files+=("$matrix_file")
            else
              echo "✅ $matrix_file passed"
              echo "✅ Passed" >> "$log_file"
              successes=$((successes+1))
            fi

            echo "::endgroup::"
          done

          echo "Summary: $successes / $total tests passed" | tee -a "$log_file"
          if [ ${#failed_files[@]} -ne 0 ]; then
            echo "Failed files: ${failed_files[*]}" | tee -a "$log_file"
            exit 1
          fi

      - name: Upload test outputs and log
        uses: actions/upload-artifact@v4
        with:
          name: atb-test-outputs
          path: |
            test_outputs
            log.txt