name: Test atb files

on:
  push:
    branches: [main]
  pull_request:
env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Pull submodules
        run: git submodule update --init --recursive
      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      - uses: actions/upload-artifact@v4
        name: Create artifact
        with:
          name: atb-tools
          path: ./build/bin/atb-tools

  prepare:
    runs-on: ubuntu-latest
    outputs:
      files: ${{ steps.set-files.outputs.files }}
    steps:
      - name: Retrieves atb files
        run: |
          curl -L -o atb_files.tar.xz https://github.com/EltyDev/atb-tools/releases/download/ci-test/atb_files.tar.xz
          tar -xJf atb_files.tar.xz
      
      - name: Set files output
        id: set-files
        run: |
          files_json=$(ls *.atb | jq -R -s -c 'split("\n")[:-1]')
          echo "files=$files_json" >> $GITHUB_OUTPUT

  test:
    needs: [build, prepare]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file: ${{ fromJSON(needs.prepare.outputs.files) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download compiled program
        uses: actions/download-artifact@v4
        with:
          name: atb-tools
      - name: Run test for ${{ matrix.file }}
        run: |
          chmod +x ./atb-tools
          OUTPUT_FILE="${matrix_file%.atb}_test.atb"
          EXPECTED_FILE="expected/$OUTPUT_FILE"
      
          ./atb-tools test "$matrix_file"
          if [ $? -ne 0 ]; then
              echo "❌ Program failed"
              exit 1
          fi
      
          if [ ! -f "$OUTPUT_FILE" ]; then
              echo "❌ Output file missing"
              exit 1
          fi
      
          diff "$EXPECTED_FILE" "$OUTPUT_FILE" || (echo "❌ Differences found" && exit 1)
