name: Test atb files

on:
  push:
    branches: [main]
  pull_request:
env:
  BUILD_TYPE: Release

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Pull submodules
        run: git submodule update --init --recursive
      - name: Configure CMake
        run: cmake -B ${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
      - name: Build
        run: cmake --build ${{ github.workspace }}/build --config ${{ env.BUILD_TYPE }}
      - name: Download atb files
        run: |
          curl -L -o atb_files.tar.xz https://github.com/EltyDev/atb-tools/releases/download/ci-test/atb_files.tar.xz
          tar -xJf atb_files.tar.xz
      - name: Run tests for all files
        run: |
          chmod +x ./build/bin/atb-tools
          files=($(ls *.atb | shuf | head -n 256))
    
          for matrix_file in "${files[@]}"; do
            echo "::group::Testing $matrix_file"
            
            OUTPUT_FILE="${matrix_file%.atb}_test.atb"
            
            ./build/bin/atb-tools test "$matrix_file"
            if [ $? -ne 0 ]; then
                echo "❌ Program failed for $matrix_file"
                exit 1
            fi
            
            if [ ! -f "$OUTPUT_FILE" ]; then
                echo "❌ Output file missing for $matrix_file"
                exit 1
            fi
            
            diff $matrix_file "$OUTPUT_FILE" || (echo "❌ Differences found for $matrix_file" && exit 1)
            
            echo "✅ $matrix_file passed"
            echo "::endgroup::"
          done
